@font-face {
    font-family: 'Muli';
    src: url('../fonts/muli.ttf');
  }

body {
    width: 70vw;
    height: 100vh;
    margin: 0;
    padding: 0 15vw;
    overflow-x: hidden;
    font-family: 'Muli', sans-serif;
    color: #000;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    text-align: justify;
}

.hide {
    display: none !important;
}