.circle {
    width: 20vw;
    height: 20vw;
    position: relative;
    transition: 250ms opacity ease-in-out;
  }
  
  .circleWrapper {
    width: 10vw;
    height: 27vw;
    position: absolute;
    top: 0;
    overflow: hidden;
  }
  
  .circleWrapperRight {
    right: 0;
  }
  
  .circleWrapperLeft {
    left: 0;
  }
  
  .wholeCircle {
    width: 16vw;
    height: 16vw;
    border: 2vw solid transparent;
    border-radius: 50%;
    position: absolute;
    top: 0;
    transform: rotate(-135deg);
  }
  
  .circleRight {
    border-top: 2vw solid #fff;
    border-right: 2vw solid #fff;
    right: 0;
    animation: circleRight 500ms linear forwards;
  }
  
  .circleLeft {
    border-bottom: 2vw solid #fff;
    border-left: 2vw solid #fff;
    left: 0;
    animation: circleLeft 500ms linear forwards;
  }
  
  @keyframes circleRight {
    0% {
      transform: rotate(-135deg);
    }
    50%,
    100% {
      transform: rotate(45deg);
    }
  }
  
  @keyframes circleLeft {
    0%,
    50% {
      transform: rotate(-135deg);
    }
    100% {
      -webkit-transform: rotate(45deg);
    }
  }